body{
    padding: 0px;
    margin: 0px;
}

#nav{
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: #b9da55;
    border-bottom: 1px solid white;
}

.blanknav{
    margin-top: 60px;
}

#menu{
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: #D8F482;
    width: 40vw;
    min-width: 40vw;
    height: auto;
    z-index: 5;
    border-bottom: 3px solid #b9da55;
    border-left: 3px solid #b9da55;
}

#menu a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #7B9B18;
    font-family: 'Open Sans', sans-serif;
    font-size: 14;
    transition: background-color 0.3s ease-out;
}

#menu a:hover{
    background-color: #B9DA55;
}

#menu a:active{
    background-color: #B9DA55;
}

#heading{
    padding: 10px;
    padding-top: 7.5px;
    padding-left: 15px;
    color: white;
    font-weight: 600;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 60px;
    max-height: 60px;
    overflow: hidden;
}

#heading a{
    text-decoration: none;
    color: white;
}

.hamburger{
    display: block;
    background-color: #D8F482;
    position: absolute;
    top: 7px;
    right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 2px;
    transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
}

.hamburger:hover{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.hamburger:active{
    background-color: #E6F9AE;
}

.hamburger:hover{
    transform: rotate(90deg);
}

.hamwrapper{
    margin-top: 10px;     
}

.hamline{
    margin: 5px;
    background-color: #FFF;
    height: 5px;
    border-radius: 5px;
}

.margin-top{
    padding-top: 20px;
}

.content{
    min-height: 700px;
    width: 100%;
    background-color: lightgrey;
    border-radius: 3px;
    margin-bottom: 15px;
}

#container{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.specialContainer{
    background-color: #697EB4;
    padding: 10px;
    border-radius: 3px;
}

.special{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 3px;
}

#beanbagHeading{
    position: relative;
    top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20;
    font-weight: 900;
}

#beanbag{
    border-radius: 3px;
}

#news{
    margin-bottom: 15px;
    min-height: 340px;
    border-radius: 3px;
    background-color: lightgray;
}

.footer{
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #B9DA55;
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
}

.footerText{
    font-family: 'Open Sans', sans-serif;
}


@media screen and (min-width: 768px){
    .hamburger{
        display: none;
    }
    
    #container{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #menu{
        display: inline;
        position: absolute;
        right: 10;
        top: 21;
        width: auto;
        min-width: 10vw;
        z-index: 10;
        border: none;
        background-color: inherit;
    }
    
    #menu a{
        display: inline;
        border: none;
        background-color: #D8F482;
        border-radius: 2px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    
    #menu a:hover{
        background-color: #E6F9AE;
    }
    
    .footer{
        bottom: 0px;
    }
    
    #heading{
        margin-right: 300px;
    }
    
    
}

#movies{
    padding-top: 70px;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 70px;
}

.movie{
    background-color: #E6F9AE;
    border-radius: 4px;
    padding: 10px;
    min-height: 128px;
    position: relative;
}

.movie:hover{
    background-color: #b9da55;
}

.genre{
    padding: 10px 10px 10px 0px;
    text-decoration-line: underline;
    font-size: 18px;
    color: grey;
}

.movie .image{
    width: 128px;
    height: 128px;
    float: left;
    margin-right: 10px;
}

.movie .info{
    min-height: 128px;
}

.movie .info .title{
    font-size: 20;
    font-weight: 600;
    margin-left: 138px;
}

.movie .info .desc{
    margin-left: 138px;
    padding-top: 10px;
    padding-right: 10px;
}

.movie .info .showtimes{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: black;
    padding: 7px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}
.movie .info .showtimes:hover{
    background-color: #333;
}

.times{
    position: relative;
    display: none;
    background-color: #bada55;
    margin-top: 10px;
    padding: 15px;
    border-radius: 3px;
    text-align: center;
}

.days{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.day{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    transition: all 0.4s ease;
    border-radius: 4px;
}

.day:hover{
    background-color: #efefef;
    
}

.time{
    margin-top: 5px;
    display: block;
    transition: all 0.3s ease;
}


.tickets{
    display: none;
}

select{
    max-width: 50px;
}

.selectors{
    min-height: 100px;
    display: inline-block;
    text-align: center;
}

.sub{
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sub span{
    font-weight: 600;
}

.sub label{
    display: block;
    margin-top: 4px;
}

.go{
    
}

.total{
    font-size: 30px;
}

.totalText{
    font-weight: 600;
}

.cheap{
    background-color: lightblue;
}

.nosesh{
    background-color: lightcoral;
}

.cheapTix{
    display: inline;
    padding: 5px;
    margin: 5px;
    background-color: lightblue;
    border-radius: 3px;
}

.noTix{
    display: inline;
    padding: 5px;
    margin: 5px;
    background-color: lightcoral;
    border-radius: 3px;
}